* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bangers-Regular";
  src: url("../fonts/Bangers-Regular.ttf")  format('truetype');
}

body {
  text-align: center;
  font-family: "Bangers-Regular", cursive;
  background: #00112c;
  color: #0abf53;
}

.title {
  font-size: 3rem;
  padding-top: 10px;
}

.flex {
  display: flex;
  justify-content: center;
}


.score-board-container {
  width: 90%;
  padding: 10px 0;
  margin: 1rem auto;
  background: #0abf53;
  color: #00112c;
  border-radius: 20px;
}

.score-board-container * {
  width: 150px;
  font-size: 1.2rem;
  
}

.smiley-btn {
  font-size: 4rem;
  background: none;
  border: none;
  transition: .3s;
}

.smiley-btn:hover {
  cursor: pointer;
}

.your-score-wrapper {
  margin-top: 15px;
}

.smiley {
  margin: 0 auto;
  /* font-size: 3rem; */
}

.safe-click {
  margin-top: 10px;
}

.safe-click-btn {
  font-family: "Bangers-Regular", cursive;
  font-size: 1rem;
  border-radius: 20px;
  background: none;
  border: 2px solid #00112c;
  color: #00112c;
  width: 50%;
  padding: 5px;
  transition: .3s;
}

.safe-click-btn:hover {
  cursor: pointer;
  color: white;
  background: #00112c;
  width: 70%;
}

.clicks-left {
  font-size: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.manual-mines-left {
  cursor: default;
}

.manual-mines-hints-btn {
  font-size: 1rem;
  margin-bottom: 1.8rem;
  border: none;
  background: none;
  width: 35px;
}

.manual-mines-hints-btn:hover {
  cursor: pointer;
}

.lvl-btn {
  font-family: "Bangers-Regular", cursive;
  font-size: 1.4rem;
  width: 80px;
  margin: 0 2.5px 1.5rem 2.5px;
  transition: .3s;
  background: #00112c;
  border: 2px solid #0abf53;
  color: #0abf53;
  border-radius: 10px;
}

.lvl-btn:hover {
  cursor: pointer;
  width: 130px;
  color: white;
  background: #0abf53;
}

.lifes {
  margin-left: 10px;
  cursor: default;
}

.life {
  font-size: 1rem;
}

.extreme:hover {
  background: #d72323;
  color: white;
  border: 2px solid #d72323;
}

table {
  margin: 0 auto;
}

td {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(78, 78, 78);
  color: #00112c;
}

.cell {
  background: rgb(109, 109, 109);
}

.open-cell {
  background: rgb(189, 189, 189);
}

.unable-safeclick:hover {
  cursor: not-allowed;
}

.safe-cell {
  background: rgb(113, 113, 253);
}

.marked-cell:after {
  content: "🚩";
}

@media (min-width: 1025px){
  .score-board-container {
    width: 40%;
  }
}